# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local

# EAS / local iOS builds
*.ipa
*.aab

# Assets (if not committed)
# assets/
